@media ( max-width: 991px) {
    .header {
        &__logo {
            margin-left: 20px;
            width: 230px;
        }
        &__contacts {
            margin-right: 20px;
        }
        &__phone {
            margin-bottom: 10px;
        }
    }
    .promo {
        &__wrapper {
            margin-right: 20px;
        }
    }
}

@media ( max-width: 767px) {
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 130px;
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 30px;
            line-height: 30px;
        }
        &__subheader {
            margin-top: 50px;
            font-size: 20px;
        }
    }

    .benefit {
        padding: 35px 0 0 0;
        height: 100vh;
        &__header {
            font-size: 22px;
        }
        &__wrapper {
            margin-top: 0;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 60%;
            img {
                margin: 20px auto 0 auto;
            }
        }   
        &__title {
            margin-top: 20px;
            font-size: 16px;    
        }
        &__text {
            font-size: 17px;
        }
    }
}

@media ( max-width: 575px) {
    .promo {
        min-height: 500px;
        background: none;
        background-color: black;
        &__header {
            font-size: 20px;
            line-height: 0;
        }
        &__subheader {
            font-size: 11px;
        }
        &__icons {
            display: none;
        }
        &__link {
            visibility: hidden;
            a {
                display: block;
                margin: 0 auto;
                visibility: visible;
            }
        }
        .button_main {
            width: 250px;
            height: 60px;
            margin: 100px auto 0 auto;
        }
    }
    .header {
        &__logo {
            width: 50%;
            align-self: flex-start;
        }
        &__official {
            display: none;
        }
        &__contacts {
            display: none;
        }
    }

    .benefit {
        &__header {
            font-size: 16px;
        }
        &__item {
            img {
            width: 55px;
            }
        }
        &__title {
            margin-top: 8px;
        }
        &__text {
            margin-top: 10px;
            font-size: 13px;
        }
    }
}
