@import 'base/var';


*, body {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
max-width: 950px;
margin: 0 auto;
}

@import 'block/promo';
@import 'block/header';
@import 'block/buttons';
@import 'block/benefit';
@import 'block/consultation';
@import 'block/titles';
@import 'block/forms';

@import 'base/media';