@import 'base/var';

*, body {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
max-width: 950px;
margin: 0 auto;
}

@import 'block/promo';
@import 'block/header';
@import 'block/buttons';