.catalog {
	padding: 27px 0 0 0;

	&__tabs {
		margin-top: 69px;
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 0;
		margin-bottom: 0;
	}

	&__tab {
		display: flex;
		margin: 0 5px;
		justify-content: center;
		width: 220px;
		height: 50px;
		border: 2px solid #d0d0d0;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		color: #6b6b6b;
		text-align: center;
		line-height: 48px;
		transform: skewX(-25deg);
		cursor: pointer;
		transition: 0.5s;
		&_active {
			width: 220px;
			height: 50px;
			color: #fff;
			background-color: $main-color;
			border: none;
		}
		&:hover {
			box-shadow: 3px 3px 20px $main-color;
			border: none;
		}
		div {
			transform: skewX(25deg);
		}
	}

	&__content {
		margin-top: 59px;
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		&_active {
			display: flex;
		}
	}

	&-item {
		width: 300px;
		min-height: 440px;
		border: 2px solid #e8e8e8;
		padding: 20px 0 0 0;
		overflow: hidden;
		margin-bottom: 20px;

		&__img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: 200px;
		}

		&__subtitle {
			margin-top: 20px;
			font-size: 16px;
			line-height: 1.2;
			font-weight: 700;
			color: #0d0d0d;
			text-align: center;
		}

		&__desc {
			margin-top: 16px;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 300;
			color: #0d0d0d;
			text-align: center;
		}

		&__link {
			display: block;
			margin-top: 17px;
			color: $main-color;
			text-align: center;
			text-transform: uppercase;
			&:hover {
				color: $main-color;
			}
		}
		hr {
			margin: 0 auto;
			margin-top: 19px;
			width: 260px;
			height: 1px;
			background-color: #e8e8e8;
		}    

		&__footer {
			display: flex;
			justify-content: space-between;
			padding: 20px 20px 27px 20px;
		}

		&__old-price {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 300;
			color: #555555;
			text-decoration: line-through;
		}

		&__new-price {
			font-size: 20px;
			line-height: 1.2;
			font-weight: 700;
			color: #050505;
		}

		&__wrapper {
			display: flex;
			width: 200%;
		}

		&__content {
			width: 50%;
			transform: translateX(-100%);
			transition: 0.5s all;
			&_active {
				transform: translateX(0%);
			}
		}

		&__list {
			width: 50%;   
			transform: translateX(0%);
			transition: 0.5s all;
			padding-right: 20px;
			margin-bottom: 0;
			list-style-type: none;
			&_active {
				transform: translateX(-100%);
			}
			li {
				position: relative;
				font-size: 14px;
				font-weight: 300;
				color: #555555;
				margin-bottom: 20px;
				&::before {
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					background-color: $main-color;
					left: -15px;
					top: 9px;
				}
			}
		}
		&__back {
			position: absolute;
			display: block;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			color: $main-color;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			&:hover {
				color: $main-color;
			}
		}
	}
}