.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }

    &__official {
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
        }
    }

    &__phone {
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            color:rgb(179, 53, 53);
            text-decoration: none;
            transition: 0.6s;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}